h2, h4 {
  font-family: 'Henny Penny', cursive;
}

.galeria {
  margin-bottom: 100px;
}

/* INÍCIO Estilo CIDADES ATENDIDAS */
.cidades {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}

.cidades div a {
  text-decoration: none;
  color: black;
}

.cidades div a img {
  /* margin-bottom: 10px; */
  width: 20%;
  border-radius: 20px;
}

.city {
  transition: all .7s;
  /* margin: 25px; */
  border: 5px solid #ffffff;
}

.city:hover {
  border: 5px solid #24ace3;
  box-shadow: 10px 10px 20px rgba(36, 172, 227, .7);
  border-radius: 25px;
  background: rgba(36, 172, 227, .2);
}

.adocao {
  width: 30%;
  margin: 100px 0;
  border-radius: 10px;
  padding: 10px;
  background: #ffce45;
  border: 2px solid #000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.adocao h2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city {
  transition: all .7s;
  /* margin: 25px; */
  border: 5px solid #ffffff;
}

.city:hover {
  border: 5px solid #24ace3;
  box-shadow: 10px 10px 20px rgba(36, 172, 227, .7);
  border-radius: 25px;
  background: rgba(36, 172, 227, .2);
}

/* FIM Estilo CIDADES ATENDIDAS */

.portfolio-item::after {
  position: absolute;
  content: "";
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 2px solid #FFFFFF;
  z-index: 1;
}

.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  opacity: 0;
  transition: .5s;
  z-index: 2;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}

.team-item .team-img {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid #F195B2;
  border-radius: 200px;
  overflow: hidden;
  z-index: 1;
}

/* Style */

header .navbar {
  background: #ffce45;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header .navbar h2 {
  text-align: center;
  font-size: 6vh;
}

.navbar .nav-icons {
  font-size: 22px;
  color: #24ace3;
  text-shadow: 1px 1px 0.5px #666;
  transition: all .8s;
}

.nav-icons:hover {
  color: black;
  text-shadow: 1.5px 1.5px 0.5px #24ace3;
  transform: scale(1.5);
}

.navbar .nav-icons figcaption {
  font-size: 10px;
  margin-top: 5px;
}

footer a {
  text-decoration: none;
  outline: none;
}

footer {
  background: #24ace3;
}

footer h2,
h3 {
  font-family: 'Henny Penny', cursive;

}

.rodape {
  width: 100%;
  /* height: 50vh; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-rodape {
  text-align: center;
  cursor: url("https://img.icons8.com/ios/50/cat-footprint.png"), auto;
}

.logo-rodape a {
  color: #111;
  cursor: url("https://img.icons8.com/ios/50/cat-footprint.png"), auto;
}

.rodape div img {
  margin-top: 70px;
  width: 40vh;
  cursor: url("https://img.icons8.com/ios/50/cat-footprint.png"), auto;
}

.servicos {
  float: right;
  display: inline;
}

.rodape-contato a,
.servicos a {
  color: #111;
  margin: 5px;
  transition: all .3s;
}

.rodape ul {
  list-style: none;
}

.ul-flex {
  display: flex;
  float: left;
}

.ul-flex li {
  margin: 10px;
  font-size: 22px;
}

.rodape-contato a:hover,
.servicos a:hover {
  color: #777;
}


.direitos a {
  color: #111;
}

.direitos {
  text-align: center;
  padding: 20px;
} 