body {
    margin: 0;
    position: relative;
    width: 100%;
}

body h2,
h3 {
    font-family: 'Henny Penny', cursive;
}

header section .superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar a {
    text-decoration: none;
    outline: none;
}

.top-bar {
    position: relative;
    background: #24ace3;
}

.top-bar .row img {
    width: 18vh;
}

.top-bar .site-title h2 {
    font-size: 8vh;
    margin-top: 20px;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .social {
    display: flex;
}

.top-bar .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 16vh;
    font-size: 3.5vh;
    color: #ffce45;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transition: all 1s;
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.top-bar .social a:hover {
    background: #ffce45;
    color: #24ace3;
}

.navbar {
    background: #ffce45;
}

.navbar .nav-icons {
    font-size: 22px;
    text-shadow: 1px 1px 0.5px #666;
    transition: all .8s;
}

.nav-icons:hover {
    text-shadow: 1.5px 1.5px 0.5px #24ace3;
    transform: scale(1.5);
}

.navbar .nav-icons figcaption {
    font-size: 10px;
    margin-top: 5px;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh -170px);
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel-caption h5, .carousel-caption p{
    color: #111;
    background-color: rgba(36, 172, 227, .8);
}

/*INÍCIO da TAG 'SOBRE' */
.sobre {
    margin: auto;
    width: 90%;
    height: 70vh;
    margin-top: 100px;
    display: flex;
    overflow: hidden;
    transition: all .8s;
}

/* sombreamento card na tag 'SOBRE' */
.sobre:hover {
    box-shadow: 10px 10px 20px rgba(36, 172, 227, .7);
    background: rgba(36, 172, 227, .2);
    border-radius: 20px;
}

.sobre-foto img {
    width: 100%;
}

.sobre-text {
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: 2.5vh;
}

/* Identificador do display LER MAIS */
#more {
    display: none;
}

.bts-read-more {
    background: #ffce45;
    font-size: 2.5vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 5px 15px #24ace3;
}

/*FIM da TAG 'SOBRE' */

/*Início CARD Missão - Visão - Valores */

.missao-visao-valores {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.cards-valores img {
    width: 100%;
}

.cards-valores {
    padding: 30px;
    margin: 10px;
    transition: all .8s;
}

/* Sombreamento card valores */
.cards-valores:hover {
    box-shadow: 10px 10px 20px rgba(36, 172, 227, .7);
    border-radius: 20px;
    background: rgba(36, 172, 227, .2);
}

/* FIM CARD Missão - Visão - Valores */

/* Section tag ADOÇÃO */
.adocao {
    width: 100%;
    margin: 50px 0;
    border-radius: 10px;
    padding: 10px;
    background: #ffce45;
}

.adocao h2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-motivos {
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    transition: all .9s;

}

.lista-motivos:hover {
    background: rgba(36, 172, 227, .2);
}

.patinha {
    cursor: url("https://img.icons8.com/ios/50/cat-footprint.png"), auto;
}

.grid-container {
    display: grid;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(36, 172, 227, .4);
    gap: 30px;
    padding: 30px;
    border-radius: 8px;
}

.grid-item {
    text-align: center;
    border: 2px solid black;
    background-color: #ffce45;
    width: 100%;
    padding: 20px;
}

.grid-item img {
    width: 100%;
    margin-bottom: 10px;
}

.grid-item div ul li {
    width: 80%;
    margin-left: 10px;
    list-style: none;
}

.grid-item div ul li::before {
    /* ***COLOCANDO UMA IMAGEM ANTES DA LISTA*/
    content: '';
    /*  CONTEÚDO FICA VAZIO COM ASPAS SIMPLES*/
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-image: url("https://img.icons8.com/ios/50/pets--v1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*  OCUPAR O ESPAÇO */
}

.pets-adotados div ul{
    list-style: none;
}

#login{
    height: 100px;
}

.formulario {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 20px;
}

form {
    background-color: rgba(36, 172, 227, .4);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

form .cadastro {
    display: block;
}

.cadastro div input {
    margin: 3px;
    width: 45%;
}

.cadastro h2 {
    text-align: center;
    margin-bottom: 10px;
}
footer a {
    text-decoration: none;
    outline: none;
}

footer {
    background: #24ace3;
}

.rodape {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-rodape {
    text-align: center;
    cursor: url("https://img.icons8.com/ios/50/cat-footprint.png"), auto;
}

.logo-rodape a {
    color: #111;
    cursor: url("https://img.icons8.com/ios/50/cat-footprint.png"), auto;
}

.rodape div img {
    margin-top: 70px;
    width: 40vh;
    cursor: url("https://img.icons8.com/ios/50/cat-footprint.png"), auto;
}

.servicos {
    float: right;
    display: inline;
}

.rodape-contato a,
.servicos a {
    color: #111;
    margin: 5px;
    transition: all .3s;
}

.rodape ul {
    list-style: none;
}

.ul-flex {
    display: flex;
    float: left;
}

.ul-flex li {
    margin: 10px;
    font-size: 22px;
}

.rodape-contato a:hover,
.servicos a:hover {
    color: #777;
}


.direitos a {
    color: #111;
}

.direitos {
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:1024px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:768px) {

    .top-bar .site-title h2 {
        font-size: 6.5vh;
    }

    .sobre {
        display: block;
        overflow: scroll;
    }

    .sobre-text {
        width: 100%;
        text-align: center;
        padding: 30px;
        font-size: 2.3vh;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }

    .formulario{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:595px) {
    .missao-visao-valores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-container {
        grid-template-columns: auto;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    /* icones contatos e redes sociais para dispositivos moveis abaixo de 595px */
    footer .social {
        display: flex;
        justify-content: center;
    }

    footer .social a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 10vh;
        font-size: 3.5vh;
        color: #ffce45;
        border-right: 1px solid rgba(0, 0, 0, .2);
        transition: all 1s;
    }

    footer .social a:first-child {
        border-left: 1px solid rgba(0, 0, 0, .2);
    }

    footer .social a:hover {
        background: #ffce45;
        color: #24ace3;
    }

    .copyright {
        color: black;
        font-size: 1.3vh;
    }

    .top-bar .row img {
        width: 15vh;
    }

    .top-bar .site-title h2 {
        font-size: 5vh;
    }

    .top-bar .social {
        display: none;
    }
}